.btn-hotel{
    background-color: rgb(169, 77, 123);
    color: #fff;
    }
    .btn-hotel:hover{
    background-color: rgb(137, 127, 132);
    color: #fff;
    transition: 0.7s;
    outline-color: transparent;
    outline-style:solid;
  
    }
  
    .hotel-color{
      color: rgb(169, 77, 123);
    }